<div>
    <h2>Sign up</h2>
    <div class="progress-bar">
        <div>0</div>
        <div>0</div>
        <div>0</div>
    </div>
    <form action="/register/user" method="POST">
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="" placeholder="Username">
        </div>
        <div>
            <label for="birthday">Date of birth</label>
            <input type="date" name="" id="">
        </div>
        <div>
            <label for="country">Country</label>
            <input type="text" name="country" id="" placeholder="Country">
        </div>
        <div>
            <label for="city">City</label>
            <input type="text" name="city" id="" placeholder="City">
        </div>
        <input type="submit" value="Next">
    </form>
</div>