<div>
    <h2>Sign up</h2>
    <div class="progress-bar">
        <div>0</div>
        <div>0</div>
        <div>0</div>
    </div>
    <form action="/register/user/profile" method="POST">
        <div>
        <img src="" alt="default-profile">
    </div>
    <label for="image">Choose image</label>
    <input type="file" name="image" id="" accept="image/png, image/jpeg, image/svg">
    <div>
        <label for="bio">Write something about you:</label>
        <textarea name="bio" id="" cols="30" rows="10" placeholder="I really like...">
        </textarea>
    </div>
        <input type="submit" value="Next">
    </form>
</div>