<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BirthdayChat</title>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@500&family=Roboto&display=swap"
        rel="stylesheet">
    <link href="/stylesheets/css/mini/normalizer.css" rel="stylesheet">
    <link href="/stylesheets/css/style.css" rel="stylesheet">
</head>

<body>

    <nav class="nav">
        <div class="nav-logo">
            <a href="/">
                <img src="/images/logo.svg" alt="logo">
            </a>
        </div>
        <div class="nav-menu">
            <img src="/images/icon-menu.svg" class="hamburger-menu" alt="menu">
            <input type="checkbox" class="toggler" name="" id="toggler">
            <div class="menu">
                <ul class="menu-list">
                    <li><a href="/" class="menu-item">Home</a></li>
                    <li><a href="/login" class="menu-item">Login</a></li>
                    <li><a href="/chat" class="menu-item">Chat</a></li>
                    <li><a href="/logout" class="menu-item">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="background-container"></div>