<!DOCTYPE html>
<html>
  <head>
    <title>BdayChat</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>check changes</p>
  </body>
</html>

