<%- include("partials/header"); %>
<div class="header">
  <div class="container">
    <h1>Meet your twins! </h1>
    <p>Meet people born the same day as you. Find out what you have in common. </p>
    <div class="button-container">
      <a href="/register" class="button button-action">Join Us!</a>
    </div>
  </div>
  <img src="/images/home-img.svg" class="home-image" alt="">
</div>
</body>

</html>

<%- include("partials/footer"); %>