<%- include("partials/header"); %>

<h1>Chat with people born the same day as you</h1>

<p>There are <span><%= nUsers  %></span> born the same day.</p>

<!--Chat-->

<div>

</div>

<%- include("partials/footer"); %>