$color-palette: (
    "orange" : #F49819,
    "blue": #2699FB,
    "marine": #25ACC9,
    "dark-blue": #004857,
    "white": #FFFFFF
);
$media-queries: (
    "mobile": 100px,
    "tablet": 600px,
    "pc": 800px
);
$fonts: (
    "roboto": (Roboto, Arial, Helvetica, sans-serif),
    "baloo": ("Baloo Chettan 2", Arial, Helvetica, sans-serif)
);

// ===== Using variables

//get color
@function color($color-name){
    @return map-get($color-palette, $color-name);
}

//get font
@function font($font-name){
    @return map-get($fonts, $font-name);
}

// get media query
@function screen($screenWidth){
    @return map-get($media-queries, $screenWidth);
}

// media query for tablet
@mixin tablet {
   @media (min-width:  screen(tablet) ){
       @content
   }
};

// media query for pc
@mixin pc {
    @media (min-width: screen(pc)  ){
        @content
    }
 };