@import './variables';
    
body {    
    background: color("white");
    font-family: font(roboto);
    color: color("dark-blue");
    a{
        text-decoration: none;
    }
    .background-container{
     background-image: url("/images/background-pattern.png");
     background-repeat: repeat;
     background-size: 100vh;
     height: 100vh;
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     opacity: .3;
     z-index: -1;
    }
    /*@include tablet{
       h1 {
           color: green;
       }
    }
    @include pc {
        h1{
            color: pink;
        }
    }*/
}

// NAVIGATION header.ejs
.nav{
    height: 60px;
    background-color: color("white");
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;

    .nav-logo{
        img{
            height: 45px;
        }
    }
   
    .nav-menu{
        .hamburger-menu , .toggler{
            position: absolute;
            top:0;
            right:0;
            bottom:0;
            width: 50px;
            height:50px;
        }
        .toggler {
            opacity:0;
            z-index:2;
            cursor: pointer;
        }
        #toggler:checked ~ .menu{
            opacity: 1;
            visibility: visible;
        } 
        .menu {
            position: absolute;
            top: 60px;
            left:0;
            right:0;
            bottom:0;
            z-index: -1;
            visibility: hidden;
            height: 100vh;
            width: 100%;
            background-color: color("orange");
            display: flex;
            align-content: center;
            justify-content: center;
            .menu-list {
                list-style: none;
                width: 80%;
                li{
                    border-bottom: 2px solid color("white"); 
                    padding: 1em;
                    &:hover {
                        color: color("marine");
                        font-size: 1.2em;
                        border-bottom: none;
                    }  
                    .menu-item {
                        font-family: font("baloo");
                        font-weight: bold;
                        font-size: 3em;
                        color: color("white");     
                        &:hover{
                            color: color("marine");
                        }     
                }
            }
          }

        }

    }
//media queries
@include pc {
    text-align: left;
    display: flex;
    align-content: center;
    .nav-logo {
        margin-right: auto;
        margin-left: 2em;
        img {
            margin-top: 5px;
        }
    }
  .nav-menu {
    .hamburger-menu, .toggler {
        display: none;
    }
    .menu {
        justify-self: flex-end;
        margin-right: 2em;
        visibility: visible;
        z-index: 1;
        position: static;
        height: 60px;
        background-color: color("white");
        .menu-list {
            width: 100%;
            display: flex;
            align-content: center;
            justify-content: space-evenly;
            flex-direction: row;
            li{
                display: inline-block;
                border: none;
                padding:0 1em;
             
                &:hover {
                    font-size: 1em;
                    padding-bottom: 2.5em;
                    border-bottom: 2px solid color("marine");
                }  
                .menu-item {
                    font-size: 1.5em;
                    color: color("marine");  
            }
        }
      }
    }
  }
} // en pc
} // end nav

// HOME
.header {
    padding-top: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;

    @include pc {
        padding-top: 100px;
        flex-direction: row;
        height: 50vh;
        align-content: flex-end;
        
    }

    .container {
        z-index: 1;
        width: 80%;
        margin-top: 60px;
        margin-right: auto;
        margin-left: auto;

        @include pc {
            margin-left: 10%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-content: center;
            margin-top: auto;
            margin-bottom: auto;
        }
        h1{
            margin: auto;
            width: 90%;
            text-align: center;
            font-size: 3.5em;
            font-family: font("baloo");
            text-transform: uppercase;
            background-color: white;
            display: inline-block;
            color: color("dark-blue");
            @include pc {
                font-size: 4.5em;
                width: 9em;
                margin:0;
                margin-left: 0;
                padding: 0.1em;
                padding-left:0.3em;
                text-align: left;
            }
        }
        p{
            background-color: color('white');
            display: inline-block;
            font-size: 1.5em;
            padding:1em;
            @include pc {
                margin: 0;
                margin-bottom: 1.5em;
            }
        }
        .button-container {
            text-align: center;
            padding-top: 2px;
            @include pc {
                text-align: right;
            }
            .button {
                margin-right: 0; 

            }
        }

    }
    .home-image {
        width: 100%;
        height: 60vh;
        z-index: 0;
        bottom:0;
    }

 
}




// FOOTER footer.ejs

footer {
    width: 100%;
    background-color: color('white');
    text-align: center;
    position: fixed;
    bottom: 0;
    height: 45px;
}


// 
.button {
    padding: 1em 1.5em;
    text-transform: uppercase;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1em;
    color: color("white");
    letter-spacing: 0.2em;
}
.button-action {
    background-color:color('marine');
    &:hover {
        background-color:color('orange');     
    }
}