@import './variables';
    
body {    
    background: color("white");
    font-family: font(roboto);
    color: color("dark-blue");
    a{
        text-decoration: none;
    }
    .background-container{
        margin-top: 60px;
     background-image: url("/images/background-pattern.png");
     background-repeat: repeat;
     background-size: 100vh;
     height: 100vh;
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     opacity: .3;
     z-index: -1;
    }
}

// NAVIGATION header.ejs
.nav{
    height: 60px;
    background-color: color("white");
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
z-index: 4;
    .nav-logo{
        img{
            height: 45px;
        }
    }
   
    .nav-menu{
        .hamburger-menu , .toggler{
            position: absolute;
            top:0;
            right:0;
            bottom:0;
            width: 50px;
            height:50px;
        }
        .toggler {
            opacity:0;
            z-index:2;
            cursor: pointer;
        }
        #toggler:checked ~ .menu{
            opacity: 1;
            visibility: visible;
        } 
        .menu {
            position: absolute;
            top: 60px;
            left:0;
            right:0;
            bottom:0;
            z-index: -1;
            visibility: hidden;
            height: 100vh;
            width: 100%;
            background-color: color("orange");
            display: flex;
            align-content: center;
            justify-content: center;
            .menu-list {
                list-style: none;
                width: 80%;
                li{
                    border-bottom: 2px solid color("white"); 
                    padding: 1em;
                    &:hover {
                        color: color("marine");
                        font-size: 1.2em;
                        border-bottom: none;
                    }  
                    .menu-item {
                        font-family: font("baloo");
                        font-weight: bold;
                        font-size: 3em;
                        color: color("white");     
                        &:hover{
                            color: color("marine");
                        }     
                }
            }
          }

        }

    }
//media queries
@include pc {
    text-align: left;
    display: flex;
    align-content: center;
    .nav-logo {
        margin-right: auto;
        margin-left: 2em;
        img {
            margin-top: 5px;
        }
    }
  .nav-menu {
    .hamburger-menu, .toggler {
        display: none;
    }
    .menu {
        justify-self: flex-end;
        margin-right: 2em;
        visibility: visible;
        z-index: 1;
        position: static;
        height: 60px;
        background-color: color("white");
        .menu-list {
            width: 100%;
            display: flex;
            align-content: center;
            justify-content: space-evenly;
            flex-direction: row;
            li{
                display: inline-block;
                border: none;
                padding:0 1em;
             
                &:hover {
                    font-size: 1em;
                    padding-bottom: 2.5em;
                    border-bottom: 2px solid color("marine");
                }  
                .menu-item {
                    font-size: 1.5em;
                    color: color("marine");  
            }
        }
      }
    }
  }
} // en pc
} // end nav

// HOME
.header {
    padding-top: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;

    @include pc {
        padding-top: 100px;
        flex-direction: row;
        height: 50vh;
        align-content: flex-end;
        
    }

    .container {
        z-index: 1;
        width: 80%;
        margin-top: 60px;
        margin-right: auto;
        margin-left: auto;

        @include pc {
            margin-left: 10%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-content: center;
            margin-top: auto;
            margin-bottom: auto;
        }
        h1{
            margin: auto;
            width: 90%;
            text-align: center;
            font-size: 3.5em;
            font-family: font("baloo");
            text-transform: uppercase;
            background-color: white;
            display: inline-block;
            color: color("dark-blue");
            @include pc {
                font-size: 4.5em;
                width: 9em;
                margin:0;
                margin-left: 0;
                padding: 0.1em;
                padding-left:0.3em;
                text-align: left;
            }
        }
        p{
            background-color: color('white');
            display: inline-block;
            font-size: 1.5em;
            padding:1em;
            @include pc {
                margin: 0;
                margin-bottom: 1.5em;
            }
        }
        .button-container {
            text-align: center;
            padding-top: 2px;
            @include pc {
                text-align: right;
            }
            .button {
                margin-right: 0; 

            }
        }

    }
    .home-image {
        width: 100%;
        height: 60vh;
        z-index: 0;
        bottom:0;
    }

 
}

// FORMS register.ejs | user-details.ejs | login.ejs
.form-container {
    margin-top: 10px;
    @include pc {
        display: flex;
        flex-flow: row;
 align-content: center;
        
    }
}
.header-form {
    z-index: 1;
    p{
        text-align: center;
        background-color: color('white');
        width: 80%;
        font-size: 1.5em;
        font-weight: bold;
        margin-left: auto;
        margin-right: auto;
        transform: rotate(-5deg);
        font-family: font('baloo');
        @include pc {
            font-size: 3em;
            z-index: 2;
            top: 40vh;
            position: absolute;
            width: 50%;
        }
    }
    img {
        position: absolute;
        z-index:0;
        @include pc {
         width: 50%;
            
        }
    }
    @include pc{
        margin-top: 15vh;
    }
}
 .form-block {
     position: absolute;
     top: 45vh;
     left:0;
     right:0;
     z-index:1;
     margin-right: auto;
     margin-left: auto;
     background-color: color("white");
     border: 3px solid color("orange");
     border-radius: 15px;
     width: 80%;
     padding-bottom: 1.5em;
     
     @include pc {
        width: 30%;
        min-width: 500px;
        margin-right: 10%;
        top: 30vh;
     }
     .progress-bar {
         margin-bottom: 10px;
         width: 100%;
         display: flex;
         justify-content: center;
         .bar {
             display: inline-block;
             width: 80px;
             height: 10px;
             background-color: color("orange");
             border-radius: 10px;
             &:first-child {
                 margin-right: 4px;
             }
             &:last-child {
                 margin-left: 4px;
             }
         }
     }

     h2{
         text-align: center;
         font-family: font("baloo");
         padding:0;
         margin:0;
         font-size: 2.3em;
         color: color("orange");
     }
     form {
         div {
             padding-top: 1em;
             margin: auto;
             width: 90%;
             display: flex;
             flex-direction: column;
             font-weight: bold;

             input {
                 margin-top: 5px;
             }
             p{
                 text-align: center;
                 padding-bottom: 0;
                 margin-bottom: 0;
             }
         }
     }
     select {
         font-size: 1.1em;
         font-weight: normal;
         padding: 0.5em 0em;
         border-radius: 10px;
         border: 3px solid color("marine");
     }
 }

// CHAT chat.ejs
.chat-container{
    height: 95vh;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    @include pc{
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 80px;
        height: 90vh;
    }
    .chat-header{
        flex-grow: 1;
        background-color: color("blue");
        color: color("white");
        text-align: center;
       max-height: 120px;
        h1{
            padding:0;
            font-family: font("baloo");
            font-size: 3em;
           margin-top: auto;
           margin-bottom: auto;
        }
        p{
            font-size: 1.3em;
            margin-bottom:0;
            margin-top: 10px;
            border-bottom: 2px solid color("white-opacity");
            padding-bottom: 10px;
            span{
                font-weight: bold;
            }
        }
    }
    .chat-messages {
        flex-grow: 7;
        background-color: color("white-opacity");
        border: 3px solid color("marine");

        .chat-messages-item{
            background-color: color("white");
            padding: 0.3em 0.7em;
            border-radius: 10px;
            margin-top: 5px;
            margin-left: 10px;
            margin-right: 10px;
            &.system {
                background-color: color("marine");
            }
            .metadata{
                font-weight: bold;
                span{
                    font-weight: normal;
                }
            }
        }
        
    }
    .chat-form{
        flex-grow: 1;
        #chat-msg{
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            align-content: space-between;
            .form__input{
                width: 80%;
                margin-right: 7px;
                @include pc {
                    width: 95%;
                }
            }
        }
       @include pc{
           background-color: white;
           max-height: 70px;
       }

    }

}

// FOOTER footer.ejs

footer {
    width: 100%;
    background-color: color('white');
    text-align: center;
    position: fixed;
    bottom: 0;
    height: 45px;
    z-index: 4;
}


//===== ASSETS: 

.button {
    padding: 1em 1.5em;
    text-transform: uppercase;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1em;
    color: color("white");
    letter-spacing: 0.2em;
}
.button-action {
    background-color:color('marine');
    border: none;
    &:hover {
        background-color:color('orange');     
    }
}
.button-submit{
    background-color:color('orange');
    border:none;
    width: 100%;
}
.button-message {
    font-size: 0.9em;
    padding: 0.8em 1em;
    border: none;
    background-color: color("marine");
    &:hover {
        background-color: color("dark-blue");
    }
}

.form__input {
    font-weight: normal;
    padding: 0.5em 0.8em ;
    border: 3px solid color("marine");
    border-radius: 10px;
}

.oppacity {
    opacity: 0.5;
}

.text-link {
color: color("marine");
padding-bottom: 0;
    &:hover {
        color: color("orange");
    }
}
