<%- include("../partials/header"); %>


<div>
    <h2>Sign up</h2>
    <div class="progress-bar">
        <div>0</div>
        <div>0</div>
        <div>0</div>
    </div>
    <form action="/register" method="POST">
        <div>
            <label for="Email or username"></label>
            <input type="text" name="username" placeholder="username">
        </div>
        <div>
            <label for="Password"></label>
            <input type="password" name="password" placeholder="password">
        </div>
        <div>
            <label for="Repeat passport"></label>
            <input type="password" name="password2" placeholder="Repeat password">
        </div>
        <button>Sign up</button>
    </form>
</div>