<%- include("../partials/header"); %>
<div class="form-container">
    <div class="header-form">
        <p>
            Chat with people born the same day as you.
        </p>
        <img src="/images/form.svg" alt="party">
    </div>
    <div class="form-block">
        <h2>Sign up</h2>
        <div class="progress-bar">
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <form action="/register/user-details" method="POST">
            <div>
                <label for="firstname">Firstname</label>
                <input type="text" name="firstname" id="" placeholder="Firstname" class="form__input">
            </div>
            <div>
                <label for="lastname">Lastname</label>
                <input type="text" name="lastname" id="" placeholder="Lastname" class="form__input">
            </div>
            <div>
                <label for="birthdate">Date of birth</label>
                 <input type="date" name="birthdate" id="" class="form__input"> 
            </div>
            <div>
                <label for="country">Country</label>
                <%- include("./../partials/country-list"); %>
            </div>
            <div>
                <label for="city">City</label>
                <input type="text" name="city" id="" placeholder="City" class="form__input">
            </div>
            <div>
                <button class="button button-submit">Go to chat</button>
            </div>
        </form>
    </div>
</div>
<%- include("../partials/footer"); %>